.game-page {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
    width: 100vw;
    padding: 1rem;
    overflow: hidden;

    h1 {
        margin-bottom: 1rem;
        font-size: 2.5rem;
        color: #333;
    }
}